@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: content-box;
}
  
:root {
  
    --cor-maincolor: #023047;
    --cor-secondary: #8ecae6;
    --cor-s1: #8e9aaf;
    --cor-s2: #219ebc;
    --cor-s3: #fe7b7b;
    --cor-s4: #e280e2;
}

body{
    
}

header{
    background-color: var(--cor-maincolor);
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;

}

main {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

section#register-info-conteiner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 1rem;

}

section#register-info-conteiner > h2{
    color: var(--cor-s2);
    text-align: center;
    margin: 7px 0;
}



p#subtitle {
    text-align: center;
    font-size: 0.9em;
    margin-bottom: 15px;
}

.tweak{
    display: flex;
}

div.register-box{
    display: flex;
    flex-direction: column;
}

section#register-info-conteiner  label{
    margin: auto;
} 

section#register-info-conteiner  input {
    margin: 0.5rem;
}

div#register-user-birth-date-box{
    align-self: center;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.inputs-info{
    border-radius: 5px;
    padding: 5px;
    border: 1px solid;
    box-shadow: 0px 2px 2px 0px #00000038;
}

.inputs-buttons{
    padding: 10px;
    border-radius: 5px;
    background-color: var(--cor-s2);
    color:  white;
    border: 1px solid var(--cor-maincolor);
    box-shadow: 0px 2px 2px 0px #00000038;
    cursor: pointer;
    margin: auto;
    width: 90%;
    align-self: center;

}

/* Conf. footer */

footer {
    background-color: var(--cor-maincolor);
    color: white;
    text-align: center;
    height: 30px;
    line-height: 30px;
}